#mouth-1b 
{
  display: none;
  width: 50px;
  height: 20px;  
  background-color:black;
  position: absolute;
  top: 120px;
  left: 100px;

	border-radius: 5px 5px 50px 50px
    
}

.mouth-1 {
  width: 10px;
  height: 20px;  
  border-radius: 10%;
  background-color:black;
  position: absolute;
  top: 120px;
  left: 110px;
  
}





.word-spaces {
  
  border-bottom-style: solid;
  height:20px;
  width:20px;
  display:inline-block;
  margin-right:10px;
  text-align:center;
  font-size: 2em;

}

.word-spaces-box {  
  margin: 0 auto;  
  position: absolute;    
  top: 550px;
  left: 60px;
  font-size: 2em;
}

.difficulties {  
  margin: 0 auto;  
  position: absolute;    
  top: 900px;
  left: 60px;
}




.buttons {
  position: absolute;
  left: 350px;
  top:150px;
}



h1 {
  position:absolute;
  left: 515px;
  top: -35px;
  font-family: Courier, monospace;
  font-size: 4em;
}

h2 {
  position: absolute;
  text-align: center;
  font-family: Courier, monospace;    
}

#h21 {
  top: 50px;
  left: 400px;
}

#h22 {
  top: 70px;
  left: 400px;
}

/* NOOSE */
.noose-long{
  display: none;
  height: 150px;
  width: 10px;
  background-color:yellow;
  position: absolute;
  top:30px;
  left: 120px;
  border: 1px solid black;
}

.noose-fat{
  display: none;
  height: 30px;
  width: 40px;
  background-color:yellow;
  position: absolute;
  top:150px;
  left: 105px;
  border: 1px solid black;
  z-index: 1;
}
/* NOOSE */

/*FACE 2 */
.face-2{
  display: none;
}

.eye-2
{
  font-family: Sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  position: absolute;
}

#left-eye-2
{
  top:75px;
  left:100px;
}

#right-eye-2
{
  top:75px;
  left:130px;
}

.mouth-2 {
  width: 50px;
  height: 5px;  
  border-raidus: 10%;
  background-color:black;
  position: absolute;
  top: 120px;
  left: 100px;
  	-moz-border-radius: 0 0 120px 120px / 0 0 90px 90px;
	-webkit-border-radius: 0 0 120px 120px 0 0 90px 90px;
	border-radius: 100px;  0 0px / 0  0px 100px;
  
}
/*FACE 2 */


/*FACE 1 */
.face-1 {
  display: none;
}
.eye-1
{
  width: 20px;
  position: absolute;
  height: 20px;
  border: 1px solid black;
  background-color:black;
  border-radius: 50%;
}

#left-eye-1
{
  top:75px;
  left:100px;
}

#right-eye-1
{
  top:75px;
  left:130px;
}

.mouth-1 {
  width: 10px;
  height: 20px;  
  border-radius: 10%;
  background-color:black;
  position: absolute;
  top: 120px;
  left: 110px;
  
}
/*FACE 1 */

.clear {
  clear: both;
}

.top-bar
{
  position: absolute;
  width: 300px;
  height:20px;
  border:1px solid black;
  background-color: brown;
}

.head
{
  display: none;
  width: 100px;
  height:100px;
  border:1px solid black;
  border-radius: 50%;
  background-color: blue;
  position: absolute;
  top: 50px;
  left: 75px;
}

.left-arm
{
  display: none;
      -ms-transform: rotate(25deg); /* IE 9 */
     -webkit-transform: rotate(25deg); /* Safari */
     transform: rotate(25deg);
  width: 20px;
  height:120px;
  border:1px solid black;
  position: absolute;
  top:170px;
  left: 70px;
  background-color: blue;
  
}

.body
{
  display: none;
position: absolute;
  width: 20px;
  height:200px;

  left: 113px;
  top:148px;
  background-color: blue;
}



.right-arm
{
  display: none;
      -ms-transform: rotate(-20deg); /* IE 9 */
     -webkit-transform: rotate(-20deg); /* Safari */
     transform: rotate(-20deg);
  width: 20px;
  height:120px;
  border:1px solid black;
  left: 152px;
  top: 170px;
  background-color: blue;
  position:absolute;
}

.left-leg
{
  display: none;
      -ms-transform: rotate(10deg); /* IE 9 */
     -webkit-transform: rotate(10deg); /* Safari */
     transform: rotate(10deg);
  position: absolute;
  clear:both;
  width: 20px;
  height:150px;
  border:1px solid black;
  top: 340px;
  left: 82px;
  background-color: blue;
}

.right-leg
{
  display: none;
      -ms-transform: rotate(-10deg); /* IE 9 */
     -webkit-transform: rotate(-10deg); /* Safari */
     transform: rotate(-10deg);  
  width: 20px;
  height:150px;
  border:1px solid black;
  position: absolute;
  background-color: blue;
  top: 340px;
  left: 140px;
}

.post {
    width: 20px;
  height:500px;
  left: 300px;
  top: 5px;
  border:1px solid black;
  position: absolute;
  background-color: brown;
  
}


.A { opacity: 0 }
.B { opacity: 0 }
.C { opacity: 0 }
.D { opacity: 0 }
.E { opacity: 0 }
.F { opacity: 0 }
.G { opacity: 0 }
.H { opacity: 0 }
.I { opacity: 0 }
.J { opacity: 0 }
.K { opacity: 0 }
.L { opacity: 0 }
.M { opacity: 0 }
.N { opacity: 0 }
.O { opacity: 0 }
.P { opacity: 0 }
.Q { opacity: 0 }
.R { opacity: 0 }
.S { opacity: 0 }
.T { opacity: 0 }
.U { opacity: 0 }
.V { opacity: 0 }
.W { opacity: 0 }
.X { opacity: 0 }
.Y { opacity: 0 }
.Z { opacity: 0 }
      
      
      
